<ion-view view-title="Dashboard" hide-nav-bar="true">
  <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" active-slide="1" ion-slide-tabs>
    <ion-slide>
        <ion-header-bar align-title="center" class="bar-stable">

          <h1 class="title">
            <i class="ion-person color-red font-200" style="line-height: 1.5;"></i>
          </h1>

        </ion-header-bar>
      <ion-content>
        <div class="profile-container">
          <img ng-click="showMyProfile()" ng-src="img/ben.png" class="profile-image" width="100">
          <img
            ng-click="showMyProfile()"
            src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/write-circle-blue-512.png"
            class="profile-edit"
            width="50">
        </div>

          <div class="text-center padding" style="margin-top:22px;">
            <h3>Ben</h3>
            <h4>Ionic</h4>
            <p class="color-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="color-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>

          <ion-list class="text-center uppercase">
            <ion-item class="color-red" style="top: 30px;">
              Edit Profile
            </ion-item>
            <ion-item class="color-red" style="top: 30px;">
              Settings
            </ion-item>
            <ion-item class="color-pastel-blue" style="top: 30px;">
              Get Tinder Plus
            </ion-item>
          </ion-list>
      </ion-content>
    </ion-slide>
    <ion-slide>
      <ion-header-bar align-title="center" class="bar-stable">
        <div class="buttons">
          <button class="button button-clear icon ion-person color-gray"></button>
        </div>
        <h1 class="title color-red">
          <i class="ion-fireball font-200" style="line-height: 1.5;"></i>
        </h1>



        <div class="buttons">
            <button class="button button-clear icon ion-chatbubbles color-gray"></button>
        </div>



      </ion-header-bar>

<!--           <div class="radar">
            <img ng-src="img/adam.png" width="100" height="100">
          </div> -->
          <div class="layered-paper">
              <img ng-src="img/max.png">
              <a class="item dark" href="#">
                Adam, 26
              </a>
          </div>

          <div class="tinder-buttons">
              <div class="tinder-button" ng-click="like(false)"></div>

              <div class="info" ng-click="info()"></div>

              <div class="tinder-button" ng-click="like(true)"></div>
            </div>
    </ion-slide>
    <ion-slide>
      <ion-header-bar align-title="center" class="bar-stable">


        <h1 class="title">
          <i class="ion-chatbubbles font-200 color-red" style="line-height: 1.5;"></i>
        </h1>


      </ion-header-bar>
      <ion-content>
        <div class="item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input force-lower-case type="text" class="bold" placeholder="Search" ng-model="search" ng-value="search" ng-change="filterResults(search)">
          </label>
          <button class="button button-stable button-clear" ng-click="filterResults(null);search=null">
            Cancel
          </button>
        </div>
        <div class="item item-divider bg-white uppercase color-red" style="border:none;">Matches</div>
        <ion-list>
            <ion-item class="item-light item-text-wrap item-avatar item-borderless item-icon-right" data-ng-repeat="blog in ['ben', 'max', 'mike', 'perry','ben', 'max', 'mike', 'perry'] track by $index" style="overflow:hidden;">
              <img ng-src="img/{{blog}}.png">
              <h2 class="capitalize font-120">{{blog}}</h2>
              <p class="capitalize color-gray">Sent you a message</p>
              <hr class="item-hr">
            </ion-item>
        </ion-list>
      </ion-content>
    </ion-slide>
  </ion-slide-box>
</ion-view>
