<ion-view view-title="Dashboard" hide-nav-bar="true">
<!-- <ion-header-bar align-title="center" class="bar-stable">
  <div class="buttons">
    <button class="button button-clear icon ion-person color-gray"></button>
  </div>
  <h1 class="title">Tinder!</h1>
  <div class="buttons">
    <button class="button  button-clear">
      <button class="button button-clear icon ion-chatbubbles color-gray"></button>
    </button>
  </div>
</ion-header-bar> -->
  <!-- <ion-content class="padding"> -->


  <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" active-slide="1">
    <ion-slide>
      <div class="box yellow"><h1>YELLOW</h1></div>
    </ion-slide>
    <ion-slide>
      <ion-header-bar align-title="center" class="bar-stable">
        <div class="buttons">
          <button class="button button-clear icon ion-person color-gray"></button>
        </div>
        <h1 class="title color-red">Tinder!</h1>
        <div class="buttons">
          <button class="button  button-clear">
            <button class="button button-clear icon ion-chatbubbles color-gray"></button>
          </button>
        </div>
      </ion-header-bar>

          <div class="radar">
            <img ng-src="img/adam.jpg" width="100" height="100">
          </div>

          <div class="tinder-buttons">
              <div class="tinder-button" ng-click="like(false)"></div>

              <div class="info" ng-click="info()"></div>

              <div class="tinder-button" ng-click="like(true)"></div>
            </div>
    </ion-slide>
    <ion-slide>
      <ion-header-bar align-title="center" class="bar-stable">
        <h1 class="title">
          <i class="ion-chatbubbles color-red font-200"></i>
        </h1>
      </ion-header-bar>
      <ion-content>
        <div class="item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input force-lower-case type="text" class="bold" placeholder="Search" ng-model="search" ng-value="search" ng-change="filterResults(search)">
          </label>
          <button class="button button-stable button-clear" ng-click="filterResults(null);search=null">
            Cancel
          </button>
        </div>
        <div class="item item-divider bg-white color-red uppercase" style="border:none;">
          Matches
          <badge class="badge badge-inline badge-assertive">1</badge>
        </div>
        <hr class="light-seperator">
        <div class="item item-divider bg-white uppercase color-red" style="border:none;">Messages</div>
        <ion-list>
            <ion-item class="item-light item-text-wrap item-avatar item-borderless item-icon-right" data-ng-repeat="blog in ['ben', 'max', 'mike', 'perry','ben', 'max', 'mike', 'perry'] track by $index" style="overflow:hidden;">
              <img ng-src="img/{{blog}}.png">
              <h2 class="capitalize font-115">{{blog}}</h2>
              <p class="capitalize color-gray">Sent you a message</p>
              <hr class="item-hr">
            </ion-item>
        </ion-list>
      </ion-content>
    </ion-slide>
  </ion-slide-box>

<!--     <div class="radar">
      <img ng-src="img/adam.jpg" width="100" height="100">
    </div>

    <div class="tinder-buttons">
        <div class="tinder-button" ng-click="like(false)"></div>

        <div class="info" ng-click="info()"></div>

        <div class="tinder-button" ng-click="like(true)"></div>
      </div> -->
  <!-- </ion-content> -->
</ion-view>
