<ion-list class="list-borderless">
    <ion-radio icon="ion-ios-checkmark color-darkgray" ng-model="choice" ng-value="1">Choose A</ion-radio>
    <ion-radio icon="ion-ios-checkmark color-darkgray" ng-model="choice" ng-value="2">Choose B</ion-radio>
    <ion-radio icon="ion-ios-checkmark color-darkgray" ng-model="choice" ng-value="3">Choose C</ion-radio>
    <ion-radio icon="ion-ios-checkmark color-darkgray" ng-model="choice" ng-value="4">Choose A</ion-radio>
    <ion-radio icon="ion-ios-checkmark color-darkgray" ng-model="choice" ng-value="5">Choose B</ion-radio>
    <ion-radio icon="ion-ios-checkmark color-darkgray" ng-model="choice" ng-value="6">Choose C</ion-radio>
    <ion-radio icon="ion-ios-checkmark color-darkgray" ng-model="choice" ng-value="7">Choose A</ion-radio>
    <ion-radio icon="ion-ios-checkmark color-darkgray" ng-model="choice" ng-value="8">Choose B</ion-radio>
    <ion-radio icon="ion-ios-checkmark color-darkgray" ng-model="choice" ng-value="9">Choose C</ion-radio>
    <ion-radio icon="ion-ios-checkmark color-darkgray" ng-model="choice" ng-value="10">Choose A</ion-radio>
    <ion-radio icon="ion-ios-checkmark color-darkgray" ng-model="choice" ng-value="11">Choose B</ion-radio>
    <ion-radio icon="ion-ios-checkmark color-darkgray" ng-model="choice" ng-value="12">Choose C</ion-radio>
</ion-list>