.font-200{
  font-size:200%;
}
.bar.bar-stable{
  background: white;
}
.bg-white{
  background: white;
}
.bold{
  font-weight: 600;
}
.uppercase{
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.capitalize{
  text-transform: capitalize;
}
.light-seperator{
  background-color: #eee;
  border: 0 none;
  color: #eee;
  height: 1px;
}
.item-hr{
    border-top: 0.1em solid #F8F8F8;
    margin-top: 1em;
    margin-bottom: -1.0em;
    width: 350%;
}

/* === Color Themes === */
.color-gray {
  color: #8e8e93 !important;
}
.color-stable{
  color: #f8f8f8 !important;
}
.bg-color-stable{
  background-color: #f8f8f8 !important;
}

.bg-color-gray {
  background-color: #F7F7F7 !important;
}


.border-color-gray {
  color: black !important;
  border:1px dotted #8e8e93 !important;
}
.color-red {
  color: #ff3b30 !important;
}
.color-coral{
  color: #e55 !important;
}

.bg-color-red {
  background-color: #ff3b30 !important;
}
.color-white {
  color: #ffffff !important;
}
.color-yellow {
  color: #ffcc00 !important;
}
.bg-color-plyellow {
  background-color: #ffcc00 !important;
}
.bg-color-purple {
  background-color: #9696fd !important;
}
.bg-color-yellow {
  background-color: #fdfd96 !important;
}
.color-green {
  color: #4cd964 !important;
}

.color-darkgreen{
  color: #228B22 !important;
}
.bg-color-darkgreen{
  background-color: #228B22 !important;
}



.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.radar {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  background-color: #F08080;
  border-radius: 100px;
  position:relative;
  animation: pulse 2000ms linear infinite;
  -webkit-animation: pulse 2000ms linear infinite;
  -moz-animation: pulse 2000ms linear infinite;
}

.radar img{
  position:absolute;
  color:white;
  text-shadow:-1px -1px #333;
  border-radius: 50%;
}

.radar:after,
.radar:before {
  display: inline-block;
  margin: auto;
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #CD5C5C;
}

.radar:after {
  z-index: -100;
  -webkit-animation: outer-ripple 2000ms linear infinite;
  -moz-animation: outer-ripple 2000ms linear infinite;
  animation: outer-ripple 2000ms linear infinite;
}

.radar:before {
  z-index: -200;
  -webkit-animation: inner-ripple 2000ms linear infinite;
  -moz-animation: inner-ripple 2000ms linear infinite;
  animation: inner-ripple 2000ms linear infinite;
}
/* outer ripple */


@keyframes pulse{
  0% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  10% {
    transform: scale(1.1);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  20% {
    transform: scale(0.9);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
}

@-moz-keyframes pulse{
  0% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  10% {
    transform: scale(1.1);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  20% {
    transform: scale(0.9);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
}

@-webkit-keyframes pulse{
  0% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  10% {
    transform: scale(1.1);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  20% {
    transform: scale(0.9);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
}


@keyframes outer-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  80% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@-webkit-keyframes outer-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  80% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@-moz-keyframes outer-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  80% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}
/* inner ripple */

@keyframes inner-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  30% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@-webkit-keyframes inner-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  30% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@-moz-keyframes inner-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  30% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}




/*buttons*/

.tinder-buttons {
  width: 200px;
  margin-top: 200px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

.tinder-button {
  width: 80px;
  height:80px;
  border-radius: 80px;
  background: #FFF;
  border: 6px solid #f0f0f0;
  float: left;
  box-shadow: 1px 1px 1px 0px #e9e9e9;
  transition: background-size .2s ease-in-out;
}
.tinder-button.activated {
    box-shadow: inset 0 0 0 1px #e9e9e9,inset 0 1px 30px #e9e9e9;
    background-size: 20px !important;
    transition: background-size .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
}
.tinder-button:nth-child(1) {
  margin-left: 4px;
  background: url(../img/delete.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}


.tinder-button:nth-child(3) {
  margin-left: -4px;
  background: url(../img/heart.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.info {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #FFF;
  border: 5px solid #f0f0f0;
  float: left;
  box-shadow: 1px 1px 1px 0px #e9e9e9;
  margin-top: 14px;
  margin-left: -4px;

  background: url(../img/info.png);
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
}

p {
  padding:0;
  margin:0;
  float: left;
}