.radar {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  /** height is required as absolute value **/
  background-color: #F08080;
  border-radius: 100px;
  position:relative;
  animation: pulse 2000ms linear infinite;
  -webkit-animation: pulse 2000ms linear infinite;
  -moz-animation: pulse 2000ms linear infinite;
}

.radar img{
  position:absolute;
  color:white;
  text-shadow:-1px -1px #333;
  border-radius: 50%;
}

.radar:after,
.radar:before {
  display: inline-block;
  margin: auto;
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #CD5C5C;
}

.radar:after {
  z-index: -100;
  -webkit-animation: outer-ripple 2000ms linear infinite;
  -moz-animation: outer-ripple 2000ms linear infinite;
  animation: outer-ripple 2000ms linear infinite;
}

.radar:before {
  z-index: -200;
  -webkit-animation: inner-ripple 2000ms linear infinite;
  -moz-animation: inner-ripple 2000ms linear infinite;
  animation: inner-ripple 2000ms linear infinite;
}
/* outer ripple */


@keyframes pulse{
  0% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  10% {
    transform: scale(1.1);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  20% {
    transform: scale(0.9);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
}

@-moz-keyframes pulse{
  0% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  10% {
    transform: scale(1.1);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  20% {
    transform: scale(0.9);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
}

@-webkit-keyframes pulse{
  0% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  10% {
    transform: scale(1.1);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  20% {
    transform: scale(0.9);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
}


@keyframes outer-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  80% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@-webkit-keyframes outer-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  80% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@-moz-keyframes outer-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  80% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}
/* inner ripple */

@keyframes inner-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  30% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@-webkit-keyframes inner-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  30% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@-moz-keyframes inner-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  30% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}




/*buttons*/

.tinder-buttons {
  width: 200px;
  margin-top: 200px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

.tinder-button {
  width: 80px;
  height:80px;
  border-radius: 80px;
  background: #FFF;
  border: 6px solid #f0f0f0;
  float: left;
  box-shadow: 1px 1px 1px 0px #e9e9e9;
  transition: background-size .2s ease-in-out;
}
.tinder-button.activated {
    box-shadow: inset 0 0 0 1px #e9e9e9,inset 0 1px 30px #e9e9e9;
    background-size: 20px !important;
    transition: background-size .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
}
.tinder-button:nth-child(1) {
  margin-left: 4px;
  background: url(../img/delete.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}


.tinder-button:nth-child(3) {
  margin-left: -4px;
  background: url(../img/heart.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.info {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #FFF;
  border: 5px solid #f0f0f0;
  float: left;
  box-shadow: 1px 1px 1px 0px #e9e9e9;
  margin-top: 14px;
  margin-left: -4px;

  background: url(../img/info.png);
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
}

p {
  padding:0;
  margin:0;
  float: left;
}