@font-face {
  font-family: 'gotham-bold';
  src: url('../fonts/GothamRounded-Bold.otf');
}

@font-face {
  font-family: 'gotham-medium';
  src: url('../fonts/GothamRounded-Medium.otf');
}

@font-face {
  font-family: 'gotham-light';
  src: url('../fonts/GothamRounded-Light.otf');
}
@font-face {
  font-family: 'gotham-book';
  src: url('../fonts/GothamRounded-Book.otf');
}

html, body, div, applet, object, iframe, h1, h2, h3,  blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, fieldset, figure, figcaption, footer, header, button, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
 font-family: 'gotham-medium';
}

h4, h5, h6, p {
  font-family: 'gotham-book';
}
span{
  font-family: 'gotham-light';
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.font-120{
  font-size: 120% !important;
}

.margin-top-5{
  margin-top: 5px;
}
.font-115{
  font-size:115% !important;
}
.font-200{
  font-size:200%;
}
.bar.bar-stable{
  background: white;
}
.bg-white{
  background: white;
}
.bold{
  font-weight: 600;
}
.uppercase{
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.capitalize{
  text-transform: capitalize;
}
.light-seperator{
  background-color: #eee;
  border: 0 none;
  color: #eee;
  height: 1px;
}
.item-hr{
    border-top: 0.1em solid #F8F8F8;
    margin-top: 1em;
    margin-bottom: -1.0em;
    width: 350%;
}

/* === Color Themes === */
.color-gray {
  color: #8e8e93 !important;
}
.color-pastel-blue {
  color: #779ECB !important;
}
.color-stable{
  color: #f8f8f8 !important;
}
.bg-color-stable{
  background-color: #f8f8f8 !important;
}

.bg-color-gray {
  background-color: #F7F7F7 !important;
}


.border-color-gray {
  color: black !important;
  border:1px dotted #8e8e93 !important;
}
.color-red {
  color: #ff3b30 !important;
}
.color-coral{
  color: #e55 !important;
}

.bg-color-red {
  background-color: #ff3b30 !important;
}
.color-white {
  color: #ffffff !important;
}
.color-yellow {
  color: #ffcc00 !important;
}
.bg-color-plyellow {
  background-color: #ffcc00 !important;
}
.bg-color-purple {
  background-color: #9696fd !important;
}
.bg-color-yellow {
  background-color: #fdfd96 !important;
}
.color-green {
  color: #4cd964 !important;
}

.color-darkgreen{
  color: #228B22 !important;
}
.bg-color-darkgreen{
  background-color: #228B22 !important;
}



.slider {
  height: 100%;
}
.profile-container {
  min-height: 100px;
  margin-top: 30px;
}
.profile-container .profile-image {
  border-radius: 50%;
  position:absolute;
  left: 0;
  right: 0;
  margin:0 auto;
  z-index: 1;
}

.profile-container .profile-edit {
    position:absolute;
    left: 90px;
    right: 0;
    top: 60px;
    margin:0 auto;
    z-index: 3;
    border-radius: 50%;
    border: 4px solid white;
}

.radar {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  background-color: #F08080;
  border-radius: 100px;
  position:relative;
  animation: pulse 2000ms linear infinite;
  -webkit-animation: pulse 2000ms linear infinite;
  -moz-animation: pulse 2000ms linear infinite;
}

.radar img{
  position:absolute;
  color:white;
  text-shadow:-1px -1px #333;
  border-radius: 50%;
  border: 4px solid white;
}

.radar:after,
.radar:before {
  display: inline-block;
  margin: auto;
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #CD5C5C;
}

.radar:after {
  z-index: -100;
  -webkit-animation: outer-ripple 2000ms linear infinite;
  -moz-animation: outer-ripple 2000ms linear infinite;
  animation: outer-ripple 2000ms linear infinite;
}

.radar:before {
  z-index: -200;
  -webkit-animation: inner-ripple 2000ms linear infinite;
  -moz-animation: inner-ripple 2000ms linear infinite;
  animation: inner-ripple 2000ms linear infinite;
}
/* outer ripple */


@keyframes pulse{
  0% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  10% {
    transform: scale(1.1);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  20% {
    transform: scale(0.9);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
}

@-moz-keyframes pulse{
  0% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  10% {
    transform: scale(1.1);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  20% {
    transform: scale(0.9);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
}

@-webkit-keyframes pulse{
  0% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  10% {
    transform: scale(1.1);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  20% {
    transform: scale(0.9);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
}


@keyframes outer-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  80% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@-webkit-keyframes outer-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  80% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@-moz-keyframes outer-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  80% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}
/* inner ripple */

@keyframes inner-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  30% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@-webkit-keyframes inner-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  30% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@-moz-keyframes inner-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  30% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}




/*buttons*/

.tinder-buttons {
  width: 200px;
  margin-top: 250px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

.tinder-button {
  width: 80px;
  height:80px;
  border-radius: 80px;
  background: #FFF;
  border: 6px solid #f0f0f0;
  float: left;
  box-shadow: 1px 1px 1px 0px #e9e9e9;
  transition: background-size .2s ease-in-out;
}
.tinder-button.activated {
    box-shadow: inset 0 0 0 1px #e9e9e9,inset 0 1px 30px #e9e9e9;
    background-size: 20px !important;
    transition: background-size .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
}
.tinder-button:nth-child(1) {
  margin-left: 4px;
  background: url(../img/delete.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}


.tinder-button:nth-child(3) {
  margin-left: -4px;
  background: url(../img/heart.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.info {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #FFF;
  border: 5px solid #f0f0f0;
  float: left;
  box-shadow: 1px 1px 1px 0px #e9e9e9;
  margin-top: 14px;
  margin-left: -4px;

  background: url(../img/info.png);
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
}


.animated.modal.custom.ng-leave {
    -webkit-animation-name:zoomOut;
    animation-name:zoomOut;
}
.animated.modal.bounceIn.ng-leave {
    -webkit-animation-name:bounceOut;
    animation-name:bounceOut;
}
.animated.modal.bounceInDown.ng-leave {
    -webkit-animation-name:bounceOutUp;
    animation-name:bounceOutUp;
}
.animated.modal.bounceInLeft.ng-leave {
    -webkit-animation-name:bounceOutLeft;
    animation-name:bounceOutLeft;
}
.animated.modal.bounceInRight.ng-leave {
    -webkit-animation-name:bounceOutRight;
    animation-name:bounceOutRight;
}
.animated.modal.bounceInUp.ng-leave {
    -webkit-animation-name:bounceOutDown;
    animation-name:bounceOutDown;
}

.animated.modal.bounceOut.ng-leave {
    -webkit-animation-name:bounceOut;
    animation-name:bounceOut;
}

.animated.modal.fadeIn.ng-leave {
    -webkit-animation-name:fadeOut;
    animation-name:fadeOut;
}
.animated.modal.fadeInDown.ng-leave {
    -webkit-animation-name:fadeOutDown;
    animation-name:fadeOutDown;
}
.animated.modal.fadeInDownBig.ng-leave {
    -webkit-animation-name:fadeOutDownBig;
    animation-name:fadeOutDownBig;
}
.animated.modal.fadeInLeft.ng-leave {
    -webkit-animation-name:fadeOutLeft;
    animation-name:fadeOutLeft;
}
.animated.modal.fadeInLeftBig.ng-leave {
    -webkit-animation-name:fadeOutLeftBig;
    animation-name:fadeOutLeftBig;
}
.animated.modal.fadeInRight.ng-leave {
    -webkit-animation-name:fadeOutRight;
    animation-name:fadeOutRight;
}
.animated.modal.fadeInRightBig.ng-leave {
    -webkit-animation-name:fadeOutRightBig;
    animation-name:fadeOutRightBig;
}
.animated.modal.fadeInUp.ng-leave {
/*    -webkit-animation-name:fadeOutUp;
    animation-name:fadeOutUp;*/
    -webkit-animation-name:zoomOut;
    animation-name:zoomOut;
}
.animated.modal.fadeInUpBig.ng-leave {
    -webkit-animation-name:fadeOutUpBig;
    animation-name:fadeOutUpBig;
}

.animated.modal.flipInX.ng-leave {
    -webkit-animation-name:flipOutX;
    animation-name:flipOutX;
}
.animated.modal.flipInY.ng-leave {
    -webkit-animation-name:flipOutY;
    animation-name:flipOutY;
}

.animated.modal.lightSpeedIn.ng-leave {
    -webkit-animation-name:lightSpeedOut;
    animation-name:lightSpeedOut;
}

.animated.modal.rotateIn.ng-leave {
    -webkit-animation-name:rotateOut;
    animation-name:rotateOut;
}
.animated.modal.rotateInDownLeft.ng-leave {
    -webkit-animation-name:rotateOutDownLeft;
    animation-name:rotateOutDownLeft;
}
.animated.modal.rotateInDownRight.ng-leave {
    -webkit-animation-name:rotateOutDownRight;
    animation-name:rotateOutDownRight;
}
.animated.modal.rotateInUpLeft.ng-leave {
    -webkit-animation-name:rotateOutUpLeft;
    animation-name:rotateOutUpLeft;
}
.animated.modal.rotateInUpRight.ng-leave {
    -webkit-animation-name:rotateOutUpRight;
    animation-name:rotateOutUpRight;
}

.animated.modal.slideInUp.ng-leave {
    -webkit-animation-name:slideOutDown;
    animation-name:slideOutDown;
}
.animated.modal.slideInDown.ng-leave {
    -webkit-animation-name:slideOutUp;
    animation-name:slideOutUp;
}
.animated.modal.slideInLeft.ng-leave {
    -webkit-animation-name:slideOutLeft;
    animation-name:slideOutLeft;
}
.animated.modal.slideInRight.ng-leave {
    -webkit-animation-name:slideOutRight;
    animation-name:slideOutRight;
}

.animated.modal.zoomIn.ng-leave {
    -webkit-animation-name:zoomOut;
    animation-name:zoomOut;
}
.animated.modal.zoomInDown.ng-leave {
    -webkit-animation-name:zoomOutDown;
    animation-name:zoomOutDown;
}
.animated.modal.zoomInLeft.ng-leave {
    -webkit-animation-name:zoomOutLeft;
    animation-name:zoomOutLeft;
}
.animated.modal.zoomInRight.ng-leave {
    -webkit-animation-name:zoomOutRight;
    animation-name:zoomOutRight;
}
.animated.modal.zoomInUp.ng-leave {
    -webkit-animation-name:zoomOutUp;
    animation-name:zoomOutUp;
}

.animated.modal.rollIn.ng-leave {
    -webkit-animation-name:rollOut;
    animation-name:rollOut;
}